<h1>About</h1>
<div>
    <p>
        My name is <strong>Yusuf</strong> and I am a web developer. I have been
        working
        with web technologies for over 5 years now. I have worked with a number
        of clients
        and have developed a number of websites. I am proficient in HTML, CSS,
        JavaScript,
        PHP, MySQL, and WordPress. I am also familiar with other technologies
        such as
        React, Node.js, and MongoDB.
    </p>
    <p>
        I am currently working as a freelance web developer. I am always looking
        for
        new projects and clients to work with. If you have a project that you
        would
        like me to work on, please feel free to <a href="/contact">contact
            me</a>.
    </p>
    <p>
        Thank you for visiting my website. I hope you find it useful and
        informative. If you have any questions or comments, please feel free to
        <a href="/contact">contact me</a>.
    </p>
</div>
