---
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Services</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, iusto
  ratione? Nostrum beatae facere repudiandae repellat doloremque commodi
  sapiente modi accusamus corporis obcaecati distinctio magni natus voluptatibus
  dolor quas at sequi atque corrupti eius, provident suscipit. Unde similique
  facere sed?
</p>

<Card title="Hello" content="hello"/>
<Card title="Services" content="services"/>
<Card title="Olá Mundo" content="olá mundo"/>
<Card title="Developer" content="developer"/>

<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

</style>
</body>
</html>

